@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  max-width: 1341px;
  margin: 0 auto;
  padding-inline: 20px;
}

main {
  max-width: 1341px;
  margin: 0 auto;
}

.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.navigation_image img {
  max-width: 250px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.list_items {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  margin-right: 18px;
  font-size: 25px;
  font-style: italic;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

nav ul li:hover {
  color: rgba(255, 0, 0, 0.575);
}

.hamburger i {
  display: none;
}

.banner_blog {
  background-color: black;
  /* min-height: 650px; */
  height: 646px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease-in-out;
  padding: 40px 40px 0;
  cursor: pointer;
  margin-top: 30px;
}

.banner_details {
  width: 80%;
}

.banner_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
  width: 100%;
  max-width: 531px;
}

.banner_description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  max-width: 506px;
  width: 100%;
  margin-top: 20px;
}

.banner_button {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.575);
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.5s ease-in-out;
}

.banner_button:hover {
  width: 290px;
}

.banner_image img {
  width: 100%;
  height: 100%;
  min-height: 613px;
}

.card_section {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}

.side_box {
  width: 100%;
  max-width: 312px;
  background-color: black;
  height: 312px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.upcoming_match_button {
  display: block;
  text-decoration: none;
  width: 100%;
  max-width: 252px;
  background-color: #fff;
  padding: 18px;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.all_group_btn {
  width: 100%;
  max-width: 252px;
  background-color: #fff;
  padding: 18px;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}

.blog_button {
  color: #fff;
  width: 100%;
  max-width: 252px;
  background-color: rgba(255, 0, 0, 0.575);
  padding: 18px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}

.player_card_blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
  margin-left: 24px;
}

.article_item {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 312px;
  max-height: 362px;
}

.card {
  width: 100%;
  height: 100%;
}

.card > img {
  width: 100%;
}

.transfer_btn {
  border: 1px solid #161616;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  padding: 4px 16px;
  margin: 16px 0 15px 0;
}

.transfer_details {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
  margin-bottom: 20px;
}

.player_card_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
  color: rgba(22, 22, 22, 0.7);
}

.player_card_icon > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player_card_icon > div > span {
  margin-left: 10px;
}

.view_button {
  width: 100%;
  max-width: 131px;
  height: 47px;
  background-color: rgba(255, 0, 0, 0.575);
  border: none;
  border-radius: 5px;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  transition: 0.4s ease-in-out;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.view_button:hover {
  width: 280px;
}

/*
Match details
*/

.match_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.match_details {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  max-width: 100%;
}

.match_date {
  text-align: center;
}

.team {
  margin-top: 20px;
}

.team_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between {
  font-weight: bold;
  font-size: 18px;
}

/**********
       Form Section 
********/

.ticket_form {
  margin-top: 70px;
  text-align: center;
}

.form_title {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}

.input_field {
  margin-top: 40px;
  background-color: black;
  border-radius: 10px;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_label {
  font-size: 25px;
  color: white;
}

.name_input {
  width: 200px;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
  margin-bottom: 10px;
}

.last_name_input {
  margin-left: 20px;
}

.email_label {
  font-size: 25px;
  color: white;
}

.email_input {
  width: 200px;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
  margin-bottom: 10px;
}

.phone_label {
  font-size: 25px;
  color: white;
}

.phone_input {
  width: 200px;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.quantity_label {
  font-size: 25px;
  color: white;
}

.quantity_input {
  width: 200px;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
}

.term_label {
  font-size: 25px;
  color: white;
}
.terms_blog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.term_checkbox {
  margin-left: 10px;
}

.terms_details {
  font-size: 18px;
  margin-left: 10px;
  color: #fff;
  font-style: italic;
}

.purchase_btn {
  margin-top: 20px;
  width: 250px;
  height: 60px;
  border: none;
  background-color: rgba(255, 0, 0, 0.575);
  border-radius: 35px;
  color: #fff;
  font-size: 22px;
  font-style: italic;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.purchase_btn:hover {
  width: 280px;
}
/******
///// Footer Section //////
*/
.footer {
  max-width: none;
  width: 100%;
  min-height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
  padding: 130px 20px auto;
}

.footer_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

hr {
  max-width: 1341px;
  width: 100%;
  max-width: 1341px;
  width: 100%;
  margin: 50px auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
}

.footer_list_items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  max-width: 1200px;
  margin-inline: auto;
  flex-wrap: wrap;
}

.footer_list_items li {
  list-style: none;
  transition: 0.4s ease-in-out;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #b9b9b9;
}
.footer_list_items li:hover {
  color: #fff;
}

.social_icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 560px;
  margin: auto;
}

.social_icon a {
  font-size: 33px;
  transition: 0.5s ease-in-out;
}

.social_icon a:hover {
  color: #fff;
  transform: rotate(360deg);
}

/*
***** Media Queries ******
*/

@media only screen and (max-width: 834px) {
  .banner_title {
    font-size: 40px;
    line-height: 50px;
  }

  .banner_button {
    width: 161px;
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
  }

  .banner_button > i {
    font-size: 18px;
  }

  .banner_button:hover {
    width: 181px;
  }

  .banner_blog {
    padding-right: 17px;
  }

  .player_card_blog {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .card_section {
    flex-direction: column;
    margin: 0;
    margin-top: 70px;
  }

  .article_item {
    max-width: 100%;
    max-height: 100%;
  }

  .side_box {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: none;
    padding: 0 0 30px;
  }
  .all_group_btn,
  .blog_button {
    margin-top: 0;
  }
  .footer {
    margin-top: 70px;
    padding-top: 70px;
  }
  .view_button {
    display: block;
    margin-top: 50px;
  }
  .article_item:last-child {
    display: none;
  }
  hr {
    margin: 30px auto;
  }
}

@media only screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: none;
  }
  .side_box {
    padding: 0;
  }
  .card_section,
  .player_card_blog {
    margin-top: 24px;
  }

  .hamburger i {
    display: block;
    font-size: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  .banner_blog {
    flex-direction: column;
    padding: 15px 15px 0;
    /* background-color: #fff; */
  }
  .banner_details {
    width: 100%;
    text-align: center;
  }
  .banner_image img {
    padding: 0 20px;
    min-height: auto;
  }

  .banner_title {
    width: 228px;
    height: 66px;
    margin-inline: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;

    color: #ffffff;
  }
  .banner_description {
    font-size: 14px;
    line-height: 24px;
  }
  .banner_button {
    max-width: 161px;
    margin-inline: auto;
    margin-bottom: 21px;
  }

  .banner_button:hover {
    max-width: 181px;
  }

  .banner_blog {
    height: auto;
    min-height: auto;
    padding-top: 28px;
  }

  .player_card_blog {
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 100%;
  }

  .footer {
    padding-top: 24px;
  }

  .footer_list_items {
    flex-direction: column;
  }
  .footer_list_items li {
    margin: 20px;
  }

  .social_icon {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  /* *****
   upcoming_match part
  */
  .match_card {
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr);
  }

  .team {
    text-align: center;
  }

  /* View All Button
  */

  .view_button {
    display: block;
  }

  .banner_button {
    width: 100%;
  }

  .player_card_blog {
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 100%;
  }
  .side_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: none;
  }

  .navigation_image img {
    max-width: 180px;
  }
}
